apiVersion: helm.toolkit.fluxcd.io/v2beta1
kind: HelmRelease
metadata:
  name: traefik
spec:
  interval: 30m
  install:
    crds: CreateReplace
  upgrade:
    crds: CreateReplace
    remediation:
      # Number of retries that should be attempted on failures before bailing, a negative integer equals to unlimited retries
      retries: -1
  chart:
    spec:
      chart: traefik
      version: "27.x"
      sourceRef:
        kind: HelmRepository
        name: traefik-repo
      interval: 12h
  # https://github.com/traefik/traefik-helm-chart/blob/master/traefik/values.yaml
  values:
    service:
      enabled: true
      single: true
      type: LoadBalancer
    ports:
      steam-query-tcp:
        port: 27016
        hostPort: 27016
        containerPort: 27016
        expose:
          default: true
        exposedPort: 27016
        protocol: TCP
      steam-query-udp:
        port: 27016
        hostPort: 27016
        containerPort: 27016
        expose:
          default: true
        exposedPort: 27016
        protocol: UDP
